@{
    ViewData["Title"] = "Disco";
}             
             
             
                <h1>@ViewBag.infoDatosDiscoBuscado.titulo</h1>
                <h5>Artista: @ViewBag.infoDatosDiscoBuscado.artista</h5>
                <h5>Productor: @ViewBag.infoDatosDiscoBuscado.productor</h5>
                <h5>Género: @ViewBag.infoDatosDiscoBuscado.genero</h5>
                <img src="/Imagenes/@ViewBag.infoDatosDiscoBuscado.foto" id="fotoDiscoEspecifico">

        @foreach(Temas tema in ViewBag.infoDatosDiscoBuscado.temas)
         {
            <div class="temasBotones">
            <a href="@tema.video">@tema.nombre</a>
            </div>
         }


