@{
    ViewData["Title"] = "Disco";
}             
             
             
                <h2>@ViewBag.infoDatosDiscoBuscado.titulo</h2>
                <h5>Artista: @ViewBag.infoDatosDiscoBuscado.artista</h5>
                <h5>Productor: @ViewBag.infoDatosDiscoBuscado.productor</h5>
                <h5>Género: @ViewBag.infoDatosDiscoBuscado.genero</h5>
                <img src="/Imagenes/@ViewBag.infoDatosDiscoBuscado.foto">

        @foreach(Temas tema in ViewBag.infoDatosDiscoBuscado.temas)
         {
            <div>
            <a href="@tema.video"><h4>@tema.nombre</h4></a>
            </div>
         }


